data/*
!data/fa_player.csv
!data/player_stats_2024-25_cleaned.csv
!data/player_stats_2024-25_with_salaries.csv

models/win_predictor_baseline_benchmark.pkl
models/win_predictor_baseline_simulation.pkl
models/win_predictor_mlp_benchmark.pkl
venv/
__pycache__/
frontend/build/